*{
    margin: 0;
    padding: 0;
  }
  header {
    position: fixed;
    position: 0px;
  }
  .menu {
    background-color: green;
    width: 100%;
    position: fixed;
    font-size: 20px;
    text-align: center;
  }
  .menu a {
    text-decoration: none;
    color: aliceblue;
    display: inline-block;
    padding: 14px;
  }#logo {
    width: 90px;
    height: 80px;
    float: left;
    position: fixed;

  }a:hover{
    background-color: white;
    transition: background-color 0.7s;
    color: black;
  }#sec1{
      position: relative;
      top: 15%;

  }#sec1 p{
      margin: 14px;
  }h1{
      text-align: center;
      font-weight: bolder;
      color: green;
      font-size: 2em;
      margin-bottom: 40px;
      text-transform: uppercase;
  }#main{
      margin-left: 410px;
      margin-top: 50px;
  }#sec2{
      position: absolute;
      top: 102%;

  }
  #ar1{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
  }.sp1{
      background-color: rgb(230, 81, 81);
      border: 2px solid transparent;
      border-radius: 10px;
      margin-left: 10px;
      margin-right: 10px;
      padding: 20px;
  }span{
     width: 100px;
 
  }h4{
      margin-bottom: 12px;
      text-align: center;
  }