*{
    margin: 0;
    padding: 0;
  
  }

  header {
    position: fixed;
    position: 0px;
  }
  .menu {
    background-color: green;
    width: 100%;
    position: fixed;
    font-size: 20px;
    text-align: center;
  }
  .menu a {
    text-decoration: none;
    color: aliceblue;
    display: inline-block;
    padding: 14px;
  }
  #logo {
    width: 90px;
    height: 80px;
    float: left;
    position: fixed;
    z-index: 1;
  }a:hover{
    background-color: white;
    transition: background-color 0.7s;
    color: black;
  }#sec1{
    position: relative;
    top: 13%;
    left: 27%;
  }form{
      box-shadow: 0 0 25px black;
      border-radius: none;
      padding: 50px;
      width: 37vw;
  }h1{

      margin-bottom: 50px;
      margin-left: 190px;
      text-decoration: underline;
      text-transform: uppercase;
      font-weight: bolder;
  }
  textarea{
      background-color: transparent;
      border-radius: 16px;
  }input{
    background-color: transparent;
    border-radius: 15px;
    margin: 10px;
    width: 35vw;
    height: 45px;
  }button{
      font-size: 1em;
      margin-top: 3%;
      height: 40px;
      width: 100px;
      background-color: blue;
      color: white;
      border: 2px solid transparent;
      border-radius: 40px;

  }button:hover, button:active{
      background-color: rgb(77, 233, 77);
      border: 2px inset transparent;
      box-shadow: 0 0 15px black;
      transition: box-shadow 0.15s;
  }
